*{
    margin: 0px;
    padding: 0px;
  
}
body{
    background-color: rgba(128, 128, 128, 0.089);
    color: white;
    scroll-behavior: smooth ;
}
/* first headerrrr */

.main{
    background-color: blueviolet;
    height: 48px;
    padding-right: 0px;
    color: white;
}

.icon li{
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    position: relative;
    top: 10px;
    left: 97px;
    
}
.millions{
    text-align: center;
    position: relative;
    bottom: 10px;
}

.tbtn{
  float: right;  

}
.tbtn{
    position: relative;
    bottom: 33px;
    right: 100px;
}
.btn{ border: 1px solid green;
    padding: 5px;
    color: rgb(23, 143, 23);
    cursor: pointer;
}

            /* navigation bar============= */

.navigation{
    background-color: rgb(219, 217, 217);
    height: 70px;
    padding-right: 0px;
    width: 100%;
    position: relative;
    top: 0px;
}

.sylanilogo img{
    margin-left: 82px;
    height: 63px;
}

.navigation ul{
    list-style: none;
    position: relative;
    bottom: 1px;
    right: 1px;
    
}
.navigation ul li{
    display: inline;
        display: inline;
        position: relative;
        bottom: 40px;
        left: 580px;
    
}
.navigation ul li a{
    text-decoration: none;
    padding: 10px;
    border: 0px solid;
    border-radius: 20px;
    color: black;
}

.navigation ul li a:hover{
    background-color: rgb(102, 112, 240);
    color: white;
}

.navigation ul li .active{
    background-color: rgb(112, 125, 241);
    color: white;
}
        /* banerr----------------    ------------ */

.banner{
   width: 1350px;
   height: 530px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
}

                /* heading--------------------------- */

.heading{
    background-color: white;
    padding-right: 0px;
    height: 38px;

}

.line{ text-align: center;
    background-color: blue;
    height: 27px;
    position: relative;
    top: 5px;
    left: 140px;
    width: 1050px;
}
.pline{
    text-align: center;
    position: relative;
    top: 4px;
}



/*---------------- pragarph earia -------------------- */
.intro{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    position: relative;
    top: 60px;
    color: blue;
}
.duction{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
}
.underscor{
    color: green;
    position: relative;
    top: 10px;
}

sup{
    color: green;
}

.para{

    text-align: center;
    color: rgba(0, 0, 0, 0.493);
    padding: 170px;
    line-height: 1.9em;
    text-align: justify;
    position: relative;
    bottom: 50px;
}


/*  /////////////////tadad */

.tadad{
    background-color: blue;
    height: 300px;
    right: 0px;
    position: relative;
    bottom: 100px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.dastarkhwan{
    text-align: center;
    /* background-color: gray; */
    padding: 35px;
    margin: 10px;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 100px;
    font-family: serif;
    

}
.familyadoption{
    text-align: center;
    /* background-color: gray; */
    padding: 35px;
    margin: 10px;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 100px;

}
.medical{
    text-align: center;
    /* background-color: gray; */
    padding: 35px;
    margin: 10px;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 100px;

}
.education{
    text-align: center;
    /* background-color: gray; */
    padding: 35px;
    margin: 10px;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 100px;

}
.monthly{
    color:lawngreen;
}

/* -------- what we are doing */


.boxearia{
    display: flex;
    /* background-color: rgb(73, 178, 32); */
    height: 210px;
    position: relative;
    top: 80px;
}



.box{
    background-color: white;
    margin-left: 35px;
    /* border: 1px solid gray; */
    width: 310px;
    height: 140px;
    position: relative;
    top: 20px;
    left: 85px;
    text-align: center;
    padding: 15px 20px;
    box-shadow: 0px 0px 10px 0px #80808045;
    font-family: serif;

}



.box h2{
    color: blue;
}

.boxearia2{
    display: flex;
    /* background-color: rgb(73, 178, 32); */
    height: 210px;
    position: relative;
    top: 80px;
}


.box2{
    background-color: white;
    margin-left: 35px;
    /* border: 1px solid gray; */
    width: 310px;
    height: 140px;
    position: relative;
    top: 10px;
    left: 85px;
    text-align: center;
    padding: 15px 20px;
    box-shadow: 0px 0px 10px 0px #80808045;
    font-family: serif;

}
.box2 h2{
    color: blue;
}


/* mission and upcoming projeects */

.mission{
    background-color: white;
    height: 700px;
    position: relative;
    top: 130px;
}
.upcoming{
    float: right;

}
.upcoming{
    display: inline-block;
    position: relative;
    right: 335px;
    bottom: 61px;
    left: 11;
  
}

.mission div h2{
    color: blue;
    font-family: sans-serif ;
    position: relative;
    top: 55px;
    left: 120px;
    display: inline-block;
}

.projects {
    height: 250px;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 70px;
}

.pro1 {
    color: blue;
    border: 1px solid rgba(128, 128, 128, 0.191);
    display: inline-block;
    padding-right: 200px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-right: 30px;
    background-color: rgba(128, 128, 128, 0.123);
}

.pro2 {
    color: blue;
    border: 1px solid rgba(128, 128, 128, 0.191);
    display: inline-block;
    padding-right: 140px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-right: 30px;
    background-color: rgba(128, 128, 128, 0.123);
}

.pro3 {
    color: blue;
    border: 1px solid rgba(128, 128, 128, 0.191);
    display: inline-block;
    padding-right: 178px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0.123);
    position: relative;
    bottom: 100px;
}

.pro4 {
    color: blue;
    border: 1px solid rgba(128, 128, 128, 0.191);
    display: inline-block;
    padding-right: 178px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-right: 30px;
    background-color: rgba(128, 128, 128, 0.123);
    position: relative;
    bottom: 100px;
}
.png{
    position: relative;
    top: 25px;
    right: 40px;
}
.projects h4{
    position: relative;
    left: 20px;
}
.events{
    color: rgba(0, 0, 0, 0.349);
    text-align: justify;
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 60px;
    padding: 15px;
}

/* image gallary//////// */
.imagesearia{
    background-color: white;
    height: 500px;
}



.gallary{
    display: inline-block;
    position: relative;
    left: 400px;
}

.images{
    display: inline-block;
position: relative;
top: 70px;
left: 100px;
}

/* -----------last details---------- */
.details{
    background: rgba(0, 0, 0, 0.835);
    height: 310px;
    font-family: sans-serif;
}

.headoffice{
    color: gray;
    display: inline-block;
    text-align: justify;
    line-height: 1.7em;
    position: relative;
    top: 50px;
    left: 110px;
}

    .useful {
        display: inline-block;
        position: relative;
        left: 180px;
        bottom: 100px;
    }
    .useful strong{
        color:green;
    }
.contectus{
    display: inline-block;
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 80px;
}
.last{
    font-family: sans-serif;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.643);
}
.last h6{display: inline;
    position: relative;
    top: 20px;
    left: 100px;
    
}